body {
    min-width: 800px;
    margin: 0;
    padding: 0;

    color: #000;
    text-transform: uppercase;
    font-family: '8784', sans-serif;
    font-size: 16px;
    background: #fff;
}

@font-face {
    font-family: '8784'; /* Гарнитура шрифта */
    src: url(../font/8784.ttf); /* Путь к файлу со шрифтом */
}

p {
    font-size: 24px;
}

.container {
    padding: 0 20%;
}

.main-header {
    padding: 50px 0;
    padding-bottom: 30px;

    color: #fff;

    background: #595271;
}

.main-header .container {
    display: flex;

    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.name-wrapper {
    position: relative;

    margin: 0;
    padding: 0;
    max-width: 500px;

    text-decoration: none;
    color: #fff;

    margin-bottom: 10px;

    transition-duration: 1s;
    transition-property: all;
}

.name-wrapper__name {
    margin: 0;
    padding: 0;

    transition-duration: 1s;
    transition-property: all;

    font-size: 30px;
    line-height: 30px;
}

.name-wrapper::before {
    content: '';

    display: block;

    height: 3px;
    width: 300px;


    position: absolute;
    background: #fff;
    bottom: 5px;

    opacity: 0;

    transition-duration: 1s;
    transition-property: all;

}

.name-wrapper:hover::before {

    opacity: 1;

}

.name-wrapper__position {
    font-size: 10px;
}


.navigation {
    max-width: 500px;
}

.navigation-list {
    margin: 0;
    padding: 0;

    list-style: none;
    font-size: 0;
}

.navigation-list li {
    display: inline-block;

    margin-right: 0px;

    font-size: 18px;
}

.navigation-list a {
    padding: 10px;
    margin: 0;

    text-decoration: none;
    color: #fff;

    transition-duration: 1s;
    transition-property: all;
}

.navigation-list li:hover a {
    background-color: #2e2230;
}

.wrapper {
    height: 350px;
    margin: 100px auto 0;
    position: relative;
    width: 700px;
}

.slider {
    z-index: 10;

    margin-top: 150px;

    width: 800px;
    height: 400px;
    overflow: hidden;
    position: relative;
    color: #fff;

    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.slider a {
    display: block;
    height: 100%;
    width: 800px;
}

.slide-1 a {
   background: red;
}

.slide-2 a {
   background: yellow;
}

.slide-3 a {
   background: blue;
}

.slider ul,
.slider li {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.slider ul {
    width: 9999px; 
}

.slider ul li {
    list-style-type: none;
    float: left;
    width: 700px;
    height: 290px;
}

.slider .nav {
    position: absolute;
    left: 45%;
    bottom: 12px; 
}

.slider .nav span {
    opacity: 0.9;
    background: #595271;
    margin: 0 18px 0 0;
    width: 20px;
    height: 20px;
    border-radius: 8px;
    cursor: pointer;
    overflow: hidden;
    display: block;
    float: left;
    box-shadow: 0 1px 2px #000;
}

.slider .nav span.on {
    background: #e9ebde;
}

.slide-desription {
    display: block;
}

.slide-desription {
    transition-duration: 1s;
    transition-property: all;
}

.slide-desription {
    padding: 10px;
    position: absolute;
    width: 100%;
    min-height: 40px;
    background: rgba(89, 82, 113, 0);
    text-align: center;
    font-weight: bold;
}

.slider:hover .slide-desription {
    background: rgba(89, 82, 113, 0.8);
}

.tree {
    font-size: 25px;
}

.tree li {
    margin: 10px 0;
}

.tree li span {
    cursor: pointer;

    transition-duration: 1s;
    transition-property: all;
}

.tree li span:hover {
    color: #d9af41;
    font-size: 27px;
}

.about__note {
    text-transform: none;
}

.about-title {
    text-align: center;
    font-size: 50px;
}

.about {
    text-transform: none;
}

.about-skills {
    font-weight: bold;
}

.works-wrap {
    display: flex;
    margin-top: 250px;
}

.work {
    position: relative;
    display: block;
    width: 400px;
    height: 300px;
    opacity: 0.3;

    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    transition-duration: 1s;
    transition-property: all;

    text-decoration: none;
    color: #2e2230;
}

.work p {
    text-align: center;
    position: absolute;
    bottom: -80px;
    left: 50%;
    
    width: 300px;
    margin-left: -150px;

    font-size: 20px;
    color: #fff;
}

.work:hover {
    opacity: 1;
    box-shadow: 0 0 10px 2000px rgba(89,82,113,1);
}

.work p {
    opacity: 0;
}

.work:hover p {
    opacity: 1;
}

.work-1 {
    background: url('../img/nerds.png') 0% 0%;
    background-size: cover;
}

.work-2 {
    background: url('../img/technomart.png') 0% 0%;
    background-size: cover;
}

.work-3 {
    background: url('../img/pink.png') 75% 0%;
    background-size: cover;
}

.social {
    margin-top: 100px;

    text-align: center;
}

.social-block {
    margin: 100px 0;
}

.social-mail a:hover {
    color: #d9af41;
    text-decoration: underline;

    transition-duration: 1s;
    transition-property: all;
}

.social-mail a {
    text-decoration: none;
    color: #000;
    text-transform: none;
    font-size: 20px;
}

.social-icons a {
    text-decoration: none;
    color: #000;
    text-transform: none;
    font-size: 40px;

    transition-duration: 1s;
    transition-property: all;
}

.social-icons a:hover {
    color: #d9af41;
    font-size: 45px;
}



.langSwitcher {
    position: relative;
    border-radius: 5px;
    top: 13px;
    right: 36px;
}

.langSwitcher i {
    position: absolute;

    font-style: normal;
    display: inline-block;
    width: 30px;
    line-height: 30px;
    text-align: center;
    vertical-align: top;
    margin: 0;
    padding: 0;

    border-radius: 3px;
    

    transition-duration: 1s;
    transition-property: all;


    cursor: pointer;
}

i:first-child {
    left: 0;
}

i:last-child {
    right: 0;
}

.active-lang-toggle {
    background: #fff;
    color: #2e2230;
}

.unactive-lang-toggle:hover {
    background: #fff;
    color: #2e2230;
}

.page-content__about {
    transition-duration: 3s;
    transition-property: all;
}

.ru {
    display: none;
}

.navigation-list .ru {
    display: none;
}
