body {
    min-width: 1200px;
    margin: 0;
    padding: 0;

    color: #000;
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
}

.container {
    width: 1050px;
    margin: 0 auto;
}

.clearfix {
    content: "";

    display: table;

    clear: both;
}

.main-header {
    padding: 50px;
    padding-bottom: 30px;

    color: #fff;

    background: #2098d1;
}

.name-wrapper {
    float: left;
    margin: 0;
    padding: 0;
    max-width: 500px;

    text-decoration: none;
    color: #fff;
}

.name-wrapper__name {
    margin: 0;
    padding: 0;

    font-size: 30px;
    line-height: 30px;
}

.name-wrapper__position {
    font-size: 10px;
}


.navigation {
    float: right;
    max-width: 500px;
}

.navigation-list {
    margin: 0;
    padding: 0;

    list-style: none;
    font-size: 0;
}

.navigation-list li {
    display: inline-block;

    margin-right: 0px;

    font-size: 18px;
}

.navigation-list a {
    padding: 10px;
    margin: 0;

    text-decoration: none;
    color: #fff;

    transition-duration: 1s;
    transition-property: all;
}

.navigation-list li:hover a {
    background-color: #045f8c;
}

.wrapper {
    height: 350px;
    margin: 100px auto 0;
    position: relative;
    width: 700px;
}

.slider {
    z-index: 10;
    width: 700px;
    height: 290px;
    overflow: hidden;
    margin: 0 0 7px;
    position: relative;
    border: 3px solid gray;
}

.slider img {
    margin: 0 auto;
}

.slider ul,
.slider li {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.slider ul {
    width: 9999px; 
}

.slider ul li {
    list-style-type: none;
    float: left;
    width: 700px;
    height: 290px;
}

.slider .nav {
    position: absolute;
    left: 45%;
    bottom: 12px; 
}

.slider .nav span {
    opacity: 0.9;
    background: #fff;
    margin: 0 8px 0 0;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    cursor: pointer;
    overflow: hidden;
    display: block;
    float: left;
    box-shadow: 0 1px 2px #000;
}

.slider .nav span.on {
    background: #2098d1;
}