body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 300px;
  margin: 0;
  font-family: 'Rajdhani', sans-serif;
  font-size: 2em;
  color: #101318;
  background: #fff;
  min-width: 300px;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 25px 50px;
}

ul {
  display: flex;
  flex-direction: column;
  padding: 0;
}

ul li {
  display: list-item;
  margin-bottom: 12px;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

.column {
  padding: 30px;
}

.column h2 {
  text-align: center;
}

.column-container {
  position: relative;
}

.left-column {
  margin-right: 50px;
}

.social-links {
  flex-direction: row;
  list-style: none;
}

.social-links li {
  margin-right: 20px;
}

.social-links svg {
  width: 50px;
  height: 50px;
}


.loader,
.loader:after {
  border-radius: 50%;
  width: 3em;
  height: 3em;
}
.loader {
  margin: 60px auto;
  position: relative;
  text-indent: -9999em;
  border-top: 0.1em solid rgba(255, 255, 255, 0.2);
  border-right: 0.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 0.1em solid rgba(255, 255, 255, 0.2);
  border-left: 0.1em solid #3498db;
  transform: translateZ(0);
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.loader.hidden {
  display: none;
}


@media (max-width: 767px) {
  body {
    font-size: 22px;
  }

  main {
    padding: 30px;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }

  .column-container:after {
    display: none;
  }
}
