body {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    min-width: 300px;
    margin: 0;
    padding: 0;
    padding-top: 130px;
    color: #101318;
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    background: #fff;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    color: #2b2d30;
}

h1, .name {
    margin: 0;
    font-size: 36px;
    line-height: 60px;
    font-weight: normal;
}

h2 {
    padding: 15px 0;
    font-size: 34px;
    line-height: 40px;
}

h3 {
    padding: 13px 0;
    font-size: 26px;
    line-height: 30px;
}

p {
    margin: 0;
    font-size: 24px;
    line-height: 30px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

a:focus {
    outline: none;
    border: none;
}

.main-header {
    position: absolute;
    top: 0;
    width: 100%;
    color: #fff;
    box-shadow: 0px 1px 15px 3px rgba(0,0,0,0.75);
    background: #ed4766;
    animation:myfirst 120s;
    -moz-animation:myfirst 120s infinite; /* Firefox */
    -webkit-animation:myfirst 120s infinite; /* Safari and Chrome */
}

.main-header_scrolled {
    position: fixed;
    z-index: 1;
    opacity: 0.5;
}

.main-header_scrolled .main-header__inner {
    padding: 0 5%;
}

.main-header_scrolled .social__link {
    width: 25px;
    height: 25px;
}

.main-header_scrolled:hover {
    opacity: 0.9;
}

.main-header_scrolled .social svg {
    width: 25px;
    height: 25px;
}

.main-header_scrolled .social a:hover svg {
    transform: none;
}

 .main-header_scrolled .name-wrapper {
     display: none;
 }

@-moz-keyframes myfirst /* Firefox */
{
    0%   {background: #ed4766;}
    25%  {background: #facdaf;}
    50% {background: #84ad9b;}
    75% {background: #c6c7a9;}
    100% {background: #ed4766;}
}

@-webkit-keyframes myfirst /* Safari and Chrome */
{
    0%   {background: #ed4766;}
    25%  {background: #facdaf;}
    50% {background: #84ad9b;}
    75% {background: #c6c7a9;}
    100% {background: #ed4766;}
}

main {
    background: #fff;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 25px 15px;
}

th:first-child, td:first-child {
    padding: 5px;
}

tr {
    border-bottom: 1px solid black;
}

tr:last-child {
    border-bottom: none;
}

section {
    margin: 50px 0;
}

.main-header__inner,
.main-footer__inner,
.page-content__inner {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    max-width: 800px;
    margin: 0 auto;
    align-items: center;
    padding: 20px 5%;
}

.main-header__inner > * {
    margin: 15px 0;
}

.page-content__inner {
    display: block;
}

.main-footer__inner {
    justify-content: center;
}

.page-content__header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 50px 0;
}

.page-content__header h1 {
    text-align: center;
    font-size: 50px;
}

.about__info a {
    color: #ed4766;
}

.about__info a:hover {
    text-decoration: underline;
}

.about__info p {
    margin: 30px 0;
}

.company-logo__xsolla {
    width: 60px;
    height: 60px;
}

.table-wrapper {
    border-radius: 15px;
    overflow: hidden;
    /*background-color: #ed4766;*/
}

table.job-places {
    width: 101%;
    margin-bottom: 30px;
    background-color: #fff;
}

.job-places th {
    display: none;
    font-weight: normal;
    font-size: 22px;
    text-transform: uppercase;
    text-align: left;
    color: #fff;
    background-color: #ed4766;
}

.job-places td:last-child {
    text-align: right;
}

tr.job-places_xsolla {
    border-bottom: none;
}

tr.job-places_xsolla:last-child {
    /*border-bottom: 1px solid #000;*/
}

.name-wrapper__position {
    font-size: 10px;
}

.navigation {
    max-width: 500px;
}

.navigation__list {
    display: flex;
    text-transform: uppercase;
}

.navigation__list li {
    margin-right: 20px;
}

.navigation__list li:last-child {
    margin-right: 0;
}

.navigation-list li {
    display: inline-block;
    margin-right: 0px;
    font-size: 18px;
    cursor: pointer;
}

.navigation__list a {
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: #fff;
    transition-duration: 1s;
    transition-property: all;
}

.navigation__list a:hover {
    text-decoration: underline;
}

.wrapper {
    height: 350px;
    margin: 100px auto 0;
    position: relative;
    width: 700px;
}

.slide-desription {
    padding: 10px;
    position: absolute;
    width: 100%;
    min-height: 40px;
    background: rgba(89, 82, 113, 0);
    text-align: center;
    font-weight: bold;
}

.slider:hover .slide-desription {
    background: rgba(89, 82, 113, 0.8);
}

.tree {
    font-size: 25px;
}

.tree li {
    margin: 10px 0;
}

.tree li span {
    cursor: pointer;
    transition-duration: 1s;
    transition-property: all;
}

.tree li span:hover {
    color: #d9af41;
    font-size: 27px;
}

.about__note {
    text-transform: none;
}

.about-skills {
    font-weight: bold;
}

.works-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 150px 0;
}

.work {
    position: relative;
    display: block;
    width: 400px;
    height: 300px;
    opacity: 0.5;
    margin: 40px 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition-duration: 1s;
    transition-property: all;
    text-decoration: none;
    color: #2e2230;
}

.work p {
    text-align: center;
    position: absolute;
    bottom: -80px;
    left: 50%;
    width: 300px;
    margin-left: -150px;
    font-size: 20px;
    color: #000;
}

.work:hover {
    opacity: 1;
    box-shadow: 0 0 30px 5px rgba(89, 82, 113, 1);
}

.work p {
    opacity: 0;
}

.work:hover p {
    opacity: 1;
}

.work-1 {
    background: url('../img/nerds.png') 0% 0%;
    background-size: cover;
}

.work-2 {
    background: url('../img/technomart.png') 0% 0%;
    background-size: cover;
}

.work-3 {
    background: url('../img/pink.png') 75% 0%;
    background-size: cover;
}

.work-4 {
    background: url('../img/datepicker.png') 75% 0%;
    background-size: cover;
}

.social {
    display: flex;
}

.social a {
    display: block;
    margin-right: 15px;
}

.social a:last-child {
    margin-right: 0;
}

.social svg {
    width: 100%;
    height: 100%;
}

.social__link {
    width: 50px;
    height: 50px;
}

.social a:hover svg {
    transform: scale(1.1);
}

.social__link path {
    transition: fill 0.3s ease-out;
    fill: #fff;
}

.skills {
    margin: 30px 0;
}

ul li {
    margin: 10px;
    display: flex;
    align-items: center;
}

ul {
    display: block;
}

ul li {
    display: inline;
    margin: 0;
    margin-right: 5px;
}

.photo {
    width: 150px;
    height: 150px;
    background: url('../img/photo.jpg');
    background-repeat: no-repeat;
    border-radius: 50%;
    background-size: cover;
}

@media screen and (max-width: 600px) {
    body {
        padding-top: 283px;
    }

    .main-header__inner {
        flex-direction: column;
    }

    .name-wrapper {
        text-align: center;
    }

    .page-content__header {
        flex-direction: column;
        align-items: center;
        margin: 25px 0 50px;
    }

    .page-content__header img {
        margin: 25px 0;
    }

    .job-places th:first-child,
    .job-places td:first-child {
        display: none;
    }
}