html,
body {
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  margin: 0;
  padding: 50px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.3em;
  font-weight: 100;
  color: #101318;
  background: linear-gradient(to right, rgb(239, 239, 187), rgb(212, 211, 221));
}

main {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

section {
  margin: 20px 0;
  margin-right: 50px;
}

h1 {
  border: 4px solid black;
  padding: 25px;
  width: 100px;
  height: 100px;
}

h2,
h3 {
  margin: 5px 0;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 5px 0;
  padding: 0;
  list-style: none;
}

ul li {
  position: relative;
  margin: 10px 0;
  list-style: none;
}

a {
  color: #03a9f4;
  text-decoration: none;
}

a:hover {
  color: #01579b;
}

.social {
  display: flex;
  margin: 40px 0;
  flex-direction: row;
  justify-content: center;
}

.social_link {
  display: block;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  text-decoration: none;
  background-size: contain;
}

.social_link--gh {
  background-image: url('./img/004-github-logo.svg');
}

.social_link--vk {
  background-image: url('./img/003-vk.svg');
}

.social_link--lnkd {
  background-image: url('./img/001-linkedin.svg');
}

.social_link--tw {
  background-image: url('./img/002-twitter.svg');
}

.social_link--hh {
  background-image: url('./img/005-hh-logo.svg');
}

.primary {
  /* font-size: 2.2rem; */
  font-weight: 400;
}

.secondary {
  color: rgb(133, 133, 133);
}
